# Ignore iCloud metadata files
*.icloud

# macOS metadata files
.DS_Store

# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (if applicable)
env/
venv/

# Log files
*.log
